<form class="container shadow rounded" [formGroup]="applyForm" (ngSubmit)="addBlog()">

    <h3 class="pt-3 mb-3 text-center">Add Blog</h3>
    <div class="mb-3">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" placeholder="Author" formControlName="author">
    </div>
    <div class="mb-3">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title" formControlName="title">
    </div>
    <div class="mb-3">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" rows="3" formControlName="content"></textarea>
    </div>
    <div class="pb-3">
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>
</form>